  body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #293462,#781C68);
}

.btn-buy-product{
    border-radius: 50px;
}
.buy-all-in-basket{
    border-radius: 50px;
}
.btn-buy-product:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad ;
}

.buy-all-in-basket:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad ;
}
